body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkred;
}

ul {
    line-height: 1.8;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}